* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg.svg);
    background-color: #141212;
    background-position: center center;
    background-repeat: no-repeat;  
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

main {  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main img {
    width: 50px;
    height: 50px;
}

.container {
    background-color: #1E1E1E;
    width: fit-content;
}

.calendario {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
    color: #ffff;
    font-size: 25px;
}

section .data h3 {
    color: #F7DD43;
}

section .data {
    border: solid 1px #338AF3;
    border-radius: 5px;
    color: #ffff;
    gap: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogos .div_jogos {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    padding:20px;
    border-bottom: solid 1px #323238;
}

.jogos div p {
    font-size: 30px;
    font-weight: 700;
}